@{
    ViewBag.Title = "Sobre";
}

<div class="pager div-sobre-principal">
    <fieldset>
        <legend class="text-left">Sobre a CyberPizza</legend>
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/imgSobre/pizzaBackgroundBody.jpg" class="img-rounded img-sobre img-responsive" alt="" />
            </div>                                                                                                                                                        
            <div class="col-md-6">
                <p class="text-justify">
                        Cyber Pizza deu se inicio no começo de 2014, onde pela instituição UNIP concedeu um projeto com o cenário de de 'pizzaria', desde então com a similação do nome do projeto com o curso realizado que é de tecnologia acabou que se nomeado como CYBER (CyberNetic) - Grande concentração de tecnologia e PIZZA (Pizzaria) - Seguimento de alimento que fabrica Pizzas.
                        A Cyber Pizza tem como objetivo em levar este projeto para mercado, bem como beneficiar o ramo, em praticidade,
                        agilidade e gestão.
                </p>
            </div>
        </div>
    </fieldset>
</div>