@{
    ViewBag.Title = "Home Page";
}
<div class="container container-fluid">
    <div class="panel panel-default page-home">
        <div id="panelHeader" class="panel-header panel-heading"><h3>Comece por aqui</h3></div>
        <div class="panel-body">
            <h2>Digite seu cep</h2>
            <div class="input-group input-group-lg" id="divBtnCep">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control input-sm" placeholder="Cep">
            </div>
            <div class="inputCep">
                <input id="inputCep" type="submit" class="btn btn-lg btn-warning" value="Continuar" />
            </div>
        </div>
    </div>
</div>
